extends layout

block content
  .w3-card-4 
    header.w3-container.w3-blue
      h1 Adicionar Nova Rua

    .w3-container
      form.w3-container(method="post", action="/criar", enctype="multipart/form-data")
        .w3-section
          label.w3-label(_for="_id") ID
          input.w3-input(type="text", name="_id", required)

        .w3-section
          label.w3-label(_for="numero") Número
          input.w3-input(type="text", name="numero", required)

        .w3-section
          label.w3-label(_for="nome") Nome
          input.w3-input(type="text", name="nome", required)

        .w3-section
          label.w3-label(_for="latitude") Latitude
          input.w3-input(type="text", name="latitude", required)

        .w3-section
          label.w3-label(_for="longitude") Longitude
          input.w3-input(type="text", name="longitude", required)

        // Seção para Entidades
        .w3-section
          label.w3-label Entidades
          .entidades-container
            .entidade
              input.w3-input(type="text", name="entidades[nome][]" placeholder="Nome da Entidade")
              input.w3-input(type="text", name="entidades[tipo][]" placeholder="Tipo da Entidade")
          button.w3-button.w3-green(type="button", onclick="addEntidade()") Adicionar Entidade

        // Seção para Lugares
        .w3-section
          label.w3-label Lugares
          .lugares-container
            .lugar
              input.w3-input(type="text", name="lugares[nome][]" placeholder="Nome do Lugar")
              input.w3-input(type="text", name="lugares[norm][]" placeholder="Norm (opcional)")
          button.w3-button.w3-green(type="button", onclick="addLugar()") Adicionar Lugar

        // Seção para Datas
        .w3-section
          label.w3-label Datas
          .datas-container
            .data
              input.w3-input(type="text", name="datas[]" placeholder="Data")
          button.w3-button.w3-green(type="button", onclick="addData()") Adicionar Data

        .w3-section
          label.w3-label(_for="texto") Descrição
          textarea.w3-input(name="texto", required)

        // Seção para Casas
        .w3-section
          label.w3-label Casas
          .casas-container
            .casa
              input.w3-input(type="text", name="casas[numero][]" placeholder="Número da Casa")
              input.w3-input(type="text", name="casas[enfiteutas][]" placeholder="Enfiteutas")
              input.w3-input(type="text", name="casas[foro][]" placeholder="Foro")
              textarea.w3-input(name="casas[desc][texto][]" placeholder="Descrição")
              input.w3-input(type="text", name="casas[desc][refs][entidades][]" placeholder="Referências de Entidades (JSON)")
              input.w3-input(type="text", name="casas[desc][refs][lugares][]" placeholder="Referências de Lugares (JSON)")
              input.w3-input(type="text", name="casas[desc][refs][datas][]" placeholder="Referências de Datas (JSON)")
          button.w3-button.w3-green(type="button", onclick="addCasa()") Adicionar Casa

        // Seção para Imagens
        .w3-section
          label.w3-label(_for="imagem") Imagem
          input.w3-input(type="file", name="imagem")

        .w3-section
          label.w3-label(_for="legenda_imagem[0]") Legenda da Imagem
          input.w3-input(type="text", name="legenda_imagem[0]")

        .w3-section
          label.w3-label(_for="atual") Atual
          input.w3-input(type="file", name="atual")

        .w3-section
          label.w3-label(_for="legenda_atual[0]") Legenda Atual
          input.w3-input(type="text", name="legenda_atual[0]")

        .w3-section
          button.w3-button.w3-blue(type="submit") Adicionar Rua

  script.
    function addEntidade() {
      var container = document.querySelector('.entidades-container');
      var div = document.createElement('div');
      div.className = 'entidade';
      div.innerHTML = '<input class="w3-input" type="text" name="entidades[nome][]" placeholder="Nome da Entidade"><input class="w3-input" type="text" name="entidades[tipo][]" placeholder="Tipo da Entidade">';
      container.appendChild(div);
    }

    function addLugar() {
      var container = document.querySelector('.lugares-container');
      var div = document.createElement('div');
      div.className = 'lugar';
      div.innerHTML = '<input class="w3-input" type="text" name="lugares[nome][]" placeholder="Nome do Lugar"><input class="w3-input" type="text" name="lugares[norm][]" placeholder="Norm (opcional)">';
      container.appendChild(div);
    }

    function addData() {
      var container = document.querySelector('.datas-container');
      var div = document.createElement('div');
      div.className = 'data';
      div.innerHTML = '<input class="w3-input" type="text" name="datas[]" placeholder="Data">';
      container.appendChild(div);
    }

    function addCasa() {
      var container = document.querySelector('.casas-container');
      var div = document.createElement('div');
      div.className = 'casa';
      div.innerHTML = '<input class="w3-input" type="text" name="casas[numero][]" placeholder="Número da Casa"><input class="w3-input" type="text" name="casas[enfiteutas][]" placeholder="Enfiteutas"><input class="w3-input" type="text" name="casas[foro][]" placeholder="Foro"><textarea class="w3-input" name="casas[desc][texto][]" placeholder="Descrição"></textarea><input class="w3-input" type="text" name="casas[desc][refs][entidades][]" placeholder="Referências de Entidades (JSON)"><input class="w3-input" type="text" name="casas[desc][refs][lugares][]" placeholder="Referências de Lugares (JSON)"><input class="w3-input" type="text" name="casas[desc][refs][datas][]" placeholder="Referências de Datas (JSON)">';
      container.appendChild(div);
    }
