extends layout

block content
  .container.mt-5
    .card
      .card-header.bg-primary.text-white
        h1.mb-0 Register Form
      .card-body
        form(action="/register" method="POST")
          .form-group
            legend Level 
            div
              .form-check.form-check-inline
                input.form-check-input(type="radio" name="level" id="user" value="Utilizador" required)
                label.form-check-label(for="user") User
              .form-check.form-check-inline
                input.form-check-input(type="radio" name="level" id="admin" value="Admin")
                label.form-check-label(for="admin") Admin
          .form-group
            label(for="username") Username
            input.form-control#username(type="text", name="username" required)
          .form-group
            label(for="password") Password
            input.form-control#password(type="password", name="password" required)
          .form-group
            label(for="name") Name
            input.form-control#name(type="text", name="name" required)
          .form-group
            label(for="email") Email
            input.form-control#email(type="email", name="email" required)
          .form-group
            label(for="filiation") Filiation
            input.form-control#filiation(type="text", name="filiation" required)
          button.btn.btn-primary(type="submit") Send